@import "tailwindcss";
:root {
	--background: #ffffff;
	--background-dark: #090d1f;
	--text-color: #1a1a1a;
	--text-gray: #667085;
	--text-violet: #6941c6;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-background-dark: var(--background-dark);
	--color-text: var(--text-color);
	--color-gray: var(--text-gray);
	--color-violet: var(--text-violet);

	--font-main: var(--font-inter);

	--breakpoint-vsm: 475px;
}

body {
	@apply bg-background text-text font-main;
}

main {
	@apply flex-1;
}

body.dark {
	--text-gray: #efefef;
	--background: #090d1f;
	--text-color: #fff;
}

.container {
	@apply mx-auto max-w-7xl px-8;
}

button {
	@apply cursor-pointer!;
}

select {
	@apply accent-background cursor-pointer;
}

select option {
	@apply bg-background;
}

input:focus-visible {
	@apply outline-none;
}

.tiptap-editor h1 {
  font-size: 2rem;
  font-weight: 700;
}

.tiptap-editor h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.tiptap-editor h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.tiptap-editor strong {
  font-weight: 700;
}

.tiptap-editor em {
  font-style: italic;
}

.tiptap-editor mark {
  background-color: yellow;
}